

.header-menu{
    display:flex;
    grid-gap: 31px;
    list-style:none;
    padding-top: 35px;
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        padding-left: 156px;
}
header{
    
}
.header-name{
    padding-top: 31px;
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 600px;
padding-left: 146px;
}

.header-text{
color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 570px;
    padding-left: 160px;
}
body{
    background: url("../images/breadintable.webp")no-repeat;
    
   background-size: 100vw;
   background-position-x: center;
  margin: 0;
   width: 100vw;
   
}
.header-btn{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    border-radius: 17px;
        background: #B47B48;
         margin-left: 157px;
       
        color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
        padding-left: 40px;
        padding-right: 40px;
        padding-top:15px;
        padding-bottom: 15px;
        
}
.btn-cont{
    padding-top: 33px;
    
}

.product-card{
color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
height: 225px;
    width: 2000px;
}


.product-card{
   display: flex;

width: 350px;
background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%);
background: #272727;


}
.card-text{
    display: flex;
    flex-direction: column;
}
.price-product{
color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
display: flex;
}
.product-name{
display: flex;
color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 150px;
}
.products-cards{
    margin-left: 18vw;
    display: flex;
    grid-gap: 95px;
    height: 225px;
    padding-top: 135px;
    
}
.product-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        width: 79px;
            height: 34px;
            flex-shrink: 0;
            background: #C85312;
            margin-left: 20px;
            text-decoration: none;
            
}
#ol{
    display: flex;
}
.menu-cards{
    margin-top: 90px;
    padding-left: 500px;
    padding-right: 311px;
   padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 200px;
    row-gap: 57px;
    max-width: 1700px;
   
    
}
.name-product{
    display: flex;
    color: #FFF;
        font-family: Inter;
        font-size: 25.92px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        display: flex;
        justify-content: center;
        margin-top: 0;
}
.menu-btn{
    display: flex;
    border-radius: 17px;
        background: #B47B48;
        color: #FFF;
            font-family: Inter;
            font-size: 25.92px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            width: 160px;
            height: 41px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 9px;
}
.menu{
    margin-top: 53px;
    background: #202023;
}
.menu-card{
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    width: calc((100% - 200px) / 2);
    justify-content: center;
    align-items: center;
    
    background: #202023;
}
.main-menu{
    padding-top: 21px;
    color: #FFF;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        display: flex;
        justify-content: center;
        padding-right: 40px;
}
.menu-card1{
border: 2px solid white;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 250px;
}

